/* место для вашего кода */
.header {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
}

.header__menu {

}

.header__links-list {

}

.header__links-list-item {

}

.header__links-list-item_no-bullet {

}

.header__link {

}

.header__link_active {

}

.header__logo {

}

.header__logo-image {
    width: 100%;
}

.address {

}

.header__address{

}

.cover {

}

.overlay {

}

.cover__title {
    letter-spacing: 0.3em;
}

.aligned-text {
    display: block;
}
.aligned-text_center {
    text-align: center;
    line-height: 1;
}

.aligned-text_right {
    text-align: right;
    line-height: 1;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0em;
}

.cover__description {

}

.cover__description-text {

}

.bet-button {

}

.lots {

}

.lots__heading {

}

.lots__card-list {

}

.lots__card-list-item {

}

.card-link {

}

.card — карточка {

}

.card_type_film {

}

.card_type_book {

}

.card_type_picture {

}

.overlay {

}

.card__title {

}

.card__text {

}

.lots__look-more-link {

}

.about {

}

.about__column{

}

.about__logo{

}

.about__logo-image{

}

.about__title{

}

.about__text{

}

.footer {

}

.footer__menu{

}

.footer__menu-list{

}

.footer__menu-list-item{

}

.footer__menu-link{

}

.footer__menu-link_active{

}

.footer__social-list{

}

.footer__social-list-item{

}

.footer__social-link{

}

.footer__social-icon{

}
